.bind-liker-id {
  width: 100%;
  height: 100rem;
  display: flex;
  background-color: #00000000;
  justify-content: center;
  .bind-area {
    padding: 20px;
    ul {
      list-style-type: disc;
    }
    .bp4-callout {
      padding: 30px;
    }
    h5, h5 a{
      color: $classic-highlight-color;
    }
  }
  .bp4-card {
    width: 100%;
    height: 100%;
    background-color: $ui-base-color;
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: $ui-base-color;
    }
    .profile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .avatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-bottom: 20px;
    }
    .name {
      font-size: 24px;
      font-weight: bold;
      color: $primary-text-color;
      margin-bottom: 20px;
    }
    .wallet {
      font-size: 16px;
      color: $primary-text-color;
      margin-bottom: 20px;
      overflow-wrap: anywhere;
      white-space: pre-wrap;
      text-align: center;
    }
    .vip {
      display: inline-block;
      background-color: $like-green;
      color: white;
      padding: 5px 10px;
      border-radius: 10px;
      margin-bottom: 20px;
    }
    .description {
      font-size: 18px;
      color: $primary-text-color;
      line-height: 1.5;
      margin-bottom: 20px;
      overflow-wrap: anywhere;
      white-space: pre-wrap;
      text-align: center;
    }
  }
  .bind-button-area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .bind-liker-button {
      height: 30px;
      margin-top: 20px;
    }
  }
}
