@media screen and (max-width: 600px) {
    //tabs

    .my-nft-list {
        width: 100%;
        max-height: calc(100vh - 55px - 49px);
        box-shadow: 0 2px 10px var(--blackA7);
        background-color: $ui-base-color;
        // margin-top: 20px;

        // --scrollbar-size: 10px;
        -ms-overflow-style: none;
        /* IE and Edge */
        --scrollbar-width: none;
        overflow: scroll;
        /* Firefox */
        animation: resize;
        animation-duration: 0.33s;

        .bp4-spinner {
            height: 200px;
        }
    }

    .my-nft-list::-webkit-scrollbar {
        display: none;
    }

    .nft-container {
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: $ui-base-color;
        padding: 14px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 0px;
        // margin: 0 auto;
        border: 1px solid lighten($ui-base-color, 8%);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: all 0.33s ease-in-out;
        animation: fadeUp;
        animation-duration: 0.33s;
        // .bp4-tag {
        //     display: inline-flex;
        //     flex-direction: row;
        //     align-items: center;
        //     background-color: #5f6b7c;
        //     border: none;
        //     border-radius: 2px;
        //     box-shadow: none;
        //     color: #ffffff;
        //     font-size: 12px;
        //     line-height: 16px;
        //     max-width: 100%;
        //     min-height: 25px;
        //     min-width: 25px;
        //     padding: 2px 6px;
        //     position: absolute;
        //     top: 10px;
        //     left: 9px;
        //     border-radius: 50%;
        //     text-align: center;
        //     background: $classic-highlight-color;
        // }

        .nft-info {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            transition: all 0.33s ease-in-out;
            order: 2;
            .nft-title {
                font-size: 16px;
                font-weight: bold;
                width: 100%;
                text-align: left;
                margin-bottom: 10px;
            }

            .nft-description {
                font-size: 16px;
                line-height: 1.5;
                width: 100%;
                text-align: left;
                -webkit-line-clamp: 5;
                display: -webkit-box;
                margin-bottom: 10px;
            }
            .nft-labels {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                font-family: serif;
                width: 100%;
                margin-bottom: 10px;

                .label {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    color: #28646e;
                    margin: 5px;
                }

                .label span {
                    // margin-left: 10px;
                }
            }
            .nft-actions {
                display: flex;
                flex-direction: row;
                align-items: center;
                .nft-buttons {
                    display: flex;
                    flex-direction: row;
                    flex-direction: row;
                    justify-content: space-evenly;
                    // width: 100%;
                    .item {
                        color: $ui-base-color;
                        text-align: center;
                        display: inline-block;
                        padding: 5px 10px;
                        background-color: $classic-highlight-color;
                        font-size: 16px;
                        border-radius: 5px;
                        /* margin-right: 10px; */
                        cursor: pointer;
                        margin: 5px;
                        line-height: 30px;
                        height: 40px;
                        width: max-content;
                    }
                }
            }
            .memo-input{
                margin-top: 10px;
                width: 80%;
            }
            .nft-transfer{
                margin-top: 10px;
                button{
                    width: 80%;
                }
            }
        }
    }

    .nft-container:hover {
        cursor: pointer;
        content: "";
        box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
        transition: all 0.33s ease-in-out;
        border-radius: 0px;
        z-index: 2;
    }

    .nft-container:focus {
        cursor: pointer;
        content: "";
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease-in-out;
    }

    .back-to-top {
        position: absolute;
        z-index: 1000;
        bottom: 6rem;
        right: 22px;
        background: $classic-highlight-color;
        border-radius: 50%;
        color: #ffffff;
        padding: 10px;
    }
    .back-to-top:hover {
        cursor: pointer;
    }
    .next {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $ui-base-color;
        padding: 9px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        width: 100%;
        margin: 0 auto;
        border-bottom: 1px solid lighten($ui-base-color, 8%);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: all 0.33s ease-in-out;
        box-sizing: border-box;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .next:hover {
        cursor: pointer;
    }
}
@media screen and (min-width: 600px) {
    //tabs
    .my-nft-list {
        width: 100%;
        max-height: calc(100vh - 55px - 49px);
        box-shadow: 0 2px 10px var(--blackA7);
        background-color: $ui-base-color;
        // margin-top: 20px;

        // --scrollbar-size: 10px;
        -ms-overflow-style: none;
        /* IE and Edge */
        --scrollbar-width: none;
        overflow: scroll;
        /* Firefox */
        animation: resize;
        animation-duration: 0.33s;

        .bp4-spinner {
            height: 200px;
        }
    }

    .my-nft-list::-webkit-scrollbar {
        display: none;
    }

    .nft-container {
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: $ui-base-color;
        padding: 14px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 0px;
        // margin: 0 auto;
        border: 1px solid lighten($ui-base-color, 8%);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: all 0.33s ease-in-out;
        animation: fadeUp;
        animation-duration: 0.33s;

        // .bp4-tag {
        //     display: inline-flex;
        //     flex-direction: row;
        //     align-items: center;
        //     background-color: #5f6b7c;
        //     border: none;
        //     border-radius: 2px;
        //     box-shadow: none;
        //     color: #ffffff;
        //     font-size: 12px;
        //     line-height: 16px;
        //     max-width: 100%;
        //     min-height: 25px;
        //     min-width: 25px;
        //     padding: 2px 6px;
        //     position: absolute;
        //     top: 10px;
        //     left: 9px;
        //     border-radius: 50%;
        //     text-align: center;
        //     background: $classic-highlight-color;
        // }

        .nft-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: all 0.33s ease-in-out;
            margin-left: 20px;
            width: 50%;
            .nft-title {
                font-size: 16px;
                font-weight: bold;
                width: 100%;
                text-align: left;
                margin-bottom: 10px;
            }

            .nft-description {
                font-size: 16px;
                line-height: 1.5;
                width: 100%;
                text-align: left;
                -webkit-line-clamp: 5;
                display: -webkit-box;
                margin-bottom: 10px;
            }
            .nft-labels {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                font-family: serif;
                width: 100%;
                margin-bottom: 10px;

                .label {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    color: #28646e;
                    margin: 5px;
                }

                .label span {
                    // margin-left: 10px;
                }
            }
            .nft-actions {
                display: flex;
                flex-direction: row;
                align-items: center;
                .author {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    .author-avatar {
                        width: 50px;
                        height: 50px;
                        background-image: url("https://via.placeholder.com/50x50.png?text=Avatar");
                        background-size: cover;
                        background-position: center;
                        border-radius: 50%;
                        margin-right: 10px;
                    }

                    .author-name {
                        font-size: 13px;
                        font-weight: bold;
                        // width: 80px;
                        word-wrap: break-word;
                    }
                }

                .nft-buttons {
                    display: flex;
                    flex-direction: row;
                    flex-direction: row;
                    justify-content: space-evenly;
                    // width: 100%;
                    .item {
                        color: $ui-base-color;
                        text-align: center;
                        display: inline-block;
                        padding: 5px 10px;
                        background-color: $classic-highlight-color;
                        font-size: 16px;
                        border-radius: 5px;
                        /* margin-right: 10px; */
                        cursor: pointer;
                        margin: 5px;
                        line-height: 30px;
                        height: 40px;
                        width: max-content;
                    }
                    .nft-collect{
                        width: max-content;
                    }
                }
            }
            .memo-input{
                margin-top: 10px;
                width: 80%;
            }
            .nft-transfer{
                margin-top: 10px;
                button{
                    width: 80%;
                }
            }
        }
    }

    .nft-container:hover {
        cursor: pointer;
        content: "";
        box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
        transition: all 0.33s ease-in-out;
        border-radius: 0px;
        z-index: 2;
    }

    .nft-container:focus {
        cursor: pointer;
        content: "";
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease-in-out;
    }

    .back-to-top {
        position: absolute;
        z-index: 1000;
        bottom: 6rem;
        right: 22px;
        background: $classic-highlight-color;
        border-radius: 50%;
        color: #ffffff;
        padding: 10px;
    }
    .back-to-top:hover {
        cursor: pointer;
    }
    .next {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $ui-base-color;
        padding: 9px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        width: 100%;
        margin: 0 auto;
        border-bottom: 1px solid lighten($ui-base-color, 8%);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: all 0.33s ease-in-out;
        box-sizing: border-box;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .next:hover {
        cursor: pointer;
    }
}
